@model IEnumerable<HotelManagemant.Models.FoodCategory>

@{

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="panel-group">
    <div class="panel panel-primary">
        <div class="panel-heading">Food Category</div>

        <div class="panel-body">


            <table class="table table-responsive table-bordered" id="table1">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.CategoryName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Descriprion)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CategoryName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descriprion)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Id })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <p>
                @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
            </p>
            </div>
        </div>
    </div>

            <link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" />
            <link href="~/Content/DataTables/css/responsive.bootstrap.min.css" />
            <script src="~/Scripts/datatables/jquery.dataTables.min.js"></script>

            <script src="~/Scripts/datatables/dataTables.bootstrap4.min.js"></script>
            <script>
                $(function () {
                    $("#table1").DataTable();
                });
            </script>
