@model IEnumerable<HotelManagemant.Models.Room>
@{
    /**/

    ViewBag.Title = "book";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="bg-primary">
            <i class="fa fa-clock-o fa-fw"></i> Rooms
        </div>
    </div>
    @foreach (var item in Model)
    {

        string panelClass = "bg-success";
        if (item.Status != "Available")
        {
            panelClass = "bg-danger";
        }
        <div style="padding-top:5px;" class="col-md-3 text-center">
            <div class="card" style="width:18rem; border-radius:25px;">
                @*<img class="card-img-top" src="~/Images/286_180.svg" alt="Card image cap" style="width:286px;height:180px;">*@

                <div class="card-body @panelClass">
                    <p class="card-text">
                        RoomNo: @item.RoomNo<br />
                        Capacity: @item.Capacity<br />
                        No of Beds: @item.NoofBeds<br />
                        RoomType: @item.Roomtype<br />
                        Price: @item.Price<br />
                    </p>
                    <span class="text-center">
                        @Html.ActionLink("ChangeStatus", "ChangeStatus", new { id = item.id }, new { @class = "btn btn-default" }) |
                        @if (panelClass == "bg-success")
                        {
                            @Html.ActionLink("Book", "bookRoom", new { id = item.id }, new { @class = "btn btn-default" })
                        }
                        else
                        {
                            @Html.ActionLink("Book", "bookRoom", new { id = item.id }, new { @class = "btn btn-default", disabled = "true" })
                        }

                    </span>
                    <div style="height:5px;"></div>
                </div>
            </div>
        </div>

    }
    }
</div>
