@model List<HotelManagemant.ViewModels.bookViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


@using (Html.BeginForm())
{
    int i = 0;
    foreach (var item in Model)
    {
    @Html.HiddenFor(a => a[i].roomId)
    <div>@item.roomNo</div>
    @Html.TextBoxFor(a => a[0].bookingno, new { @readonly = "readonly" ,@class="form-control"})


        i++;
    }
    @Html.TextBoxFor(a => a[0].NoOfPersons, new { placeholder = "Nationality", @class = "form-control" })
    @Html.TextBoxFor(a => a[0].Address, new { placeholder = "Address", @class = "form-control" })
    @Html.TextBoxFor(a => a[0].NationalIdNo, new { placeholder = "NationalIdNo", @class = "form-control" })
    @Html.TextBoxFor(a => a[0].CustomerName, new { placeholder = "CustomerName", @class = "form-control" })

    @Html.TextBoxFor(a => a[0].CheckIn, new { placeholder = "CheckIn", @class = "form-control" })
    @Html.TextBoxFor(a => a[0].CheckoutDate, new { placeholder = "CheckOut", @class = "form-control" })
    @Html.TextBoxFor(a => a[0].ShortDescriptions, new { placeholder = "Short Description", @class = "form-control" })

    <input type="submit" value="submit" />
}

