@model IEnumerable<HotelManagemant.Models.Room>
@{
    ViewBag.Title = "book";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@using (Html.BeginForm("bookRoom", "rooms", FormMethod.Get))
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoofBeds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roomtype)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Capacity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoofBeds)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Roomtype)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <input type="checkbox" name="id" value="@item.id" />
                </td>
            </tr>
        }

    </table>

    <input type="submit" value="Book" class="btn btn-primary" />
}
@Html.ActionLink("Create New", "Create", "", new { @class = "btn btn Primary" })

