@model HotelManagemant.Models.Room
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div class="form-horizontal">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <i class="fa fa-clock-o fa-fw"></i> Room Detail
        </div>
        <img src="@Model.ImageName" />
        <table class="table table-bordered">
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.RoomNo)
                </td>
                <td>
                    @Html.DisplayFor(model => model.RoomNo)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Capacity)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Capacity)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.NoofBeds)
                </td>
                <td>
                    @Html.DisplayFor(model => model.NoofBeds)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Roomtype)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Roomtype)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Price)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Price)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayNameFor(model => model.Description)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Description)
                </td>
            </tr>

        </table>

        <center>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.id }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
            </p>
        </center>
        </div>
    </div>
>
