@model HotelManagemant.Models.TableRegister

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<style>
    table {
        border-collapse: collapse;
        witdh: 100%;
        border: 1px solid #ttd;
    }

    th, td {
        text-align: left;
        patding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>



<div class="panel-group">
    <div class="panel panel-primary">
        <div class="panel-heading">Details</div>

        <div class="panel-body">
            <table class="table table-responsive table-bordered">

                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.TableNo)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.TableNo)
                    </td>
                    </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Status)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Status)
                    </td>
                    </tr>
                    </table>
</div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id },new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Back to List", "Index",null, new { @class = "btn btn-primary" })
        </p>
        </div>
</div>
